@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet');

@font-face {
  font-family: "Larsseit";
  src: url("../fonts/Larsseit/Larsseit.woff2") format("woff2"),
    url("../fonts/Larsseit/Larsseit.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Larsseit";
  src: url("../fonts/Larsseit/Larsseit-Bold.woff2") format("woff2"),
    url("../fonts/Larsseit/Larsseit-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato/Lato-Regular.woff2") format("woff2"),
    url("../fonts/Lato/Lato-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

.header {
  font-family: "Larsseit";
  src: url("../fonts/Larsseit/Larsseit-Bold.woff2") format("woff2"),
    url("../fonts/Larsseit/Larsseit-Bold.woff") format("woff");
  font-style: italic;
  font-size: 35px;
}

.headersmall {
  font-family: "Lato";
  src: url("../fonts/Lato/Lato-Regular.woff2") format("woff2"),
    url("../fonts/Lato/Lato-Regular.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

.body {
  font-family: "Larsseit";
  src: url("../fonts/Larsseit/Larsseit-Bold.woff2") format("woff2"),
    url("../fonts/Larsseit/Larsseit-Bold.woff") format("woff");
  font-display: swap;
  font-weight: 700;
  font-style: italic;
}

.link,
.link2 {
  color: blue;
}

.link,
.link2 {
  font-family: "Roboto";
  src: url('https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet');
  font-weight: 600;
}

#important {
  font-family: "Roboto";
  src: url('https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet');
  font-weight: 400;
  color: coral;
}

#top {
  color: blueviolet;
}
