@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap"rel="stylesheet');

@font-face {
  font-family: "Larsseit";
  src: url("../fonts/Larsseit/Larsseit.woff2") format("woff2"),
    url("../fonts/Larsseit/Larsseit.woff") format("woff");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Larsseit";
  src: url("../fonts/Larsseit/Larsseit-Bold.woff2") format("woff2"),
    url("../fonts/Larsseit/Larsseit-Bold.woff") format("woff");
  font-display: swap;
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Larsseit";
  src: url("../fonts/Larsseit/Larsseit-BoldItalic.woff2") format("woff2"),
    url("../fonts/Larsseit/Larsseit-BoldItalic.woff") format("woff");
  font-display: swap;
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato/Lato-Heavy.woff2") format("woff2"),
    url("../fonts/Lato/Lato-Heavy.woff") format("woff");
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato/Lato-Regular.woff2") format("woff2"),
    url("../fonts/Lato/Lato-Regular.woff") format("woff");
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

.header {
  font-family: "Larsseit";
  font-size: 25px;
  font-weight: 400;
  font-style: italic;
}

.headersmall {
  font-family: "Larsseit";
  font-weight: 700;
  font-style: normal;
}

.main {
  font-family: "Roboto";
}

.link,
.link2 {
  color: blue;
}

.link,
.link2 {
  font-family: "Lato";
  font-weight: 900;
}

#important {
  font-family: "Larsseit";
  font-size: 25px;
  color: coral;
  font-style: normal;
}

#top {
  color: blueviolet;
}
